@charset "utf-8";

#container {
    height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	background-image: url(imgs/bg.png);
	background-size: 100%;
	background-color: black;
}
#sec1 {
	float: left;
	height: 25%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	text-align: center;
}
#sec2 {
	float: left;
	height: 25%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	background-color: #210d13;
	background-image: url(imgs/bg.png);
	background-size: 100%;

}
#sec3 {
	float: left;
	height: 25%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	text-align: center;
}
#sec4 {
	float: left;
	height: 25%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	text-align: center;
	background-color: #210d13;
	background-image: url(imgs/bg.png);
	background-size: 100%;
}
#left1 {
	margin: 0px;
	float: left;
	height: 100%;
	width: 60%;
	border-width: 0px;
	border-style: solid;
}
#right1 {
	margin: 0px;
	float: right;
	height: 100%;
	width: 40%;
	border-width: 0px;
	border-style: solid;
}

#left2 {
	margin: 0px;
	float: left;
	height: 100%;
	width: 40%;
	border-width: 0px;
	border-style: solid;
}
#right2 {
	margin: 0px;
	float: right;
	height: 100%;
	width: 60%;
	border-width: 0px;
	border-style: solid;
	text-align: center;
}
#left3 {
	margin: 0px;
	float: left;
	height: 100%;
	width: 60%;
	border-width: 0px;
	border-style: solid;
}
#right3 {
	margin: 0px;
	float: right;
	height: 100%;
	width: 40%;
	border-width: 0px;
	border-style: solid;
}
#upper {
	margin: 0 auto;
	float: left;
	height: 60%;
	width: 100%;
	border-width: 0px;
	border-style: solid;
}
#lower {
	margin: 0 auto;
	float: left;
	height: 40%;
	width: 100%;
	border-width: 0px;
	border-style: solid;
}
#google {
	margin: 0px;
	float: right;
	height: 100%;
	width: 50%;
	border-width: 0px;
	border-style: solid;
}
#apple {
	margin: 0px;
	float: left;
	height: 100%;
	width: 50%;
	border-width: 0px;
	border-style: solid;
}

#right2 h1,p {
	color: white;
	width: 80%;
	margin: 0 auto;
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
}

#right2 h1 {
	font-weight:bolder;
	text-transform: uppercase;
	font-size: 40px;
	padding-top: 25%;
	padding-bottom: 5%;
}

#right2 p {
	margin: 0 auto;
	font-size: 25px;
	padding-bottom: 20%;
}

#slogan {
	margin-top: 100px;
	margin-bottom: 39px;
	
}

#iphone {
	width: 50%;
	margin-left: 60px;
}

#android {
	width: 50%;
	margin-right: 60px;
}

#artist {
	width: 100%;
}

#sec3 p {
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 10%;
	font-size: 25px;
}

#vid {
	margin: 0 auto;
	padding-bottom: 30px;
}
.video-container{
    overflow: hidden;
    position: relative;
    padding-bottom: 45%;
}
.video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	padding-bottom: 5%;
}
#sec4 h1 {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 38px;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	width: 80px;
	margin: 0 auto;
	font-family: 'ABeeZee', sans-serif;
}

	.icons {
	display: inline-block; 
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}
.icons a img {
	width: 15%;
}







@media screen and (max-width:767px){
	
	#container{
		width:100%;
	}
	#sec1{
		display: block;
		text-align: center;
	}
	#left1{
		width: 100%;
		float: left;
	}
	#right1{
		width: 100%;
		float: left;
	}
	
	#slogan{
		width: 60%;
	}
	#iphone {
	width: 60%;
	margin-left:30px;
	}

	#android {
	width: 60%;
	margin-left:30px;
	}
	#mob1 {
		width: 100%;
	}
	#sec2{
		display: block;
		text-align: center;
	}
	#left2{
		width: 100%;
		float: left;
	}
	#right2{
		width: 100%;
		float: right;
	}
	#artist {
	width: 60%;
    	}
	#sec3{
		display: block;
		text-align: center;
	}
	#left3{
		width: 100%;
		float: left;
	}
	#right3{
		width: 100%;
		float: right;
	}
	#mob2 {
		width: 100%;
	}
	
	#sec1 {
		display: flex; 
		flex-direction: column;
	}
	#left1 { order: 1;}
	#right1 { order: 2;}
}
	.icons {
	display: inline-block; 
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

	.icons img {
	width: 25%;
}
#sec4 h1 {
	font-weight:bolder;
	text-transform: uppercase;
	font-size: 25px;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	width: 80%;
	margin: 0 auto;
	font-family: 'ABeeZee', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
	
	#container{
		width:100%;
	}
	#sec1{
		display: block;
		text-align: center;
	}
	#left1{
		width: 100%;
		float: left;
	}
	#right1{
		width: 100%;
		float: left;
	}
	
	#slogan{
		width: 60%;
	}
	#iphone {
	width: 60%;
	margin:30px;
	}

	#android {
	width: 60%;
	margin:30px;
	}
	#mob1 {
		width: 100%;
	}
	#sec2{
		display: block;
		text-align: center;
	}
	#left2{
		width: 100%;
		float: left;
	}
	#right2{
		width: 100%;
		float: right;
	}
	#artist {
	width: 60%;
        }
	#sec3{
		display: block;
		text-align: center;
	}
	#left3{
		width: 100%;
		float: left;
	}
	#right3{
		width: 100%;
		float: right;
	}
	#mob2 {
		width: 100%;
	}
	#sec1 {
		display: flex; 
		flex-direction: column;
	}
	#left1 { order: 1;}
	#right1 { order: 2;}
 }

	#sec5 {
	margin: 0px;
	height: 100%;
	width: 100%;
	border-width: 0px;
	border-style: solid;
}
	.icons {
	display: inline-block; 
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

	.icons img {
	width: 25%;
}
#sec4 h1 {
	font-weight:bolder;
	text-transform: uppercase;
	font-size: 25px;
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	width: 80%;
	margin: 0 auto;
	font-family: 'ABeeZee', sans-serif;
}
